<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pihash.muslimprime">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.pihash.muslimprime.MyAlarm"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        >
        <activity
            android:name="com.pihash.muslimprime.progsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pihash.muslimprime.FrActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.pihash.muslimprime.AlarmReceiver"
            android:enabled="true" />

        <service android:name="com.pihash.muslimprime.AlarmService" />

        <activity
            android:name="com.pihash.muslimprime.Dua"
            android:label="@string/title_activity_dua"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.SaActivity"
            android:label="@string/title_activity_sa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Tasbih"
            android:label="@string/title_activity_tasbih"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Zakat"
            android:label="@string/title_activity_zakat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Sylhet"
            android:label="@string/title_activity_sylhet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.ED"
            android:label="@string/title_activity_ed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Edetail"
            android:label="@string/title_activity_edetail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Salat"
            android:label="@string/title_activity_salat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Hades"
            android:label="@string/title_activity_hades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Nw"
            android:label="@string/title_activity_nw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Zakatcal"
            android:label="@string/title_activity_zakatcal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Nishiddo"
            android:label="@string/title_activity_nishiddo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.ED1"
            android:label="@string/title_activity_ed1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Edetail1"
            android:label="@string/title_activity_edetail1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Namaz"
            android:label="@string/title_activity_namaz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Ramadan"
            android:label="@string/title_activity_ramadan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.Hajj"
            android:label="@string/title_activity_hajj"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.AddUpdateUser"
            android:label="@string/title_activity_add_update_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.TasbiActivity"
            android:label="@string/title_activity_tasbi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.pihash.muslimprime.AbouActivity"
            android:label="@string/title_activity_abou"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
